.jetbrains-mono-normal {
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
*{
    margin:0;
    padding: 0;
}
/* header codes */
a{
    text-decoration:none;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

#navList{
    display: flex;
    justify-content: center;
    align-items: center;
}
#name_alp{
    color:#FD6E0A;
}
#navList > li{
    list-style: none;
    margin-right: 0.1em;
    display: flex;
}
.navel{
    margin: 0em 2em
}
.cmn_button{
    background-color: #FD6E0A;
    color:white;
    display: inline-block;
    padding: 0.5em;
    border-radius:5px;
    border: none;
    font-weight: bold;
}
#contact-button{
    background-color: #FD6E0A;
    color:white;
    display: inline-block;
    padding: 0.5em;
    border-radius:5px;
    border: none;
    font-weight: bold;

}
#name{
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 150px;
}
header{
    height: 500x;
    background-color: #FFF8F3;
    background-repeat: repeat-x;
    background-image: url('/images/developer.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#developer-image{
    width:500px;
    height: fit-content;
    height: 80%;
    border-radius: 20px;
    /* background-image: url('/images/header_bg.png') ; */
    zoom: 70%;
    margin-right: 75px;
    
}
#banner-content{
    width: 500px;
    margin-left: 200px;
}
#banner-btns{
    margin-top: 20px;
}
/* about section codes */
.about-section{
    margin: 50px;
    background-color: #FFF8F3;
    border-radius:30px;
}
.about-section-items{
    padding: 20px;
    
}
#about-me-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.items{
    margin-left: 20px;
    margin-right: 20px;
}
.items-heading{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.items-data{
    font-weight: lighter;
    text-align: center;
}
/* what i do  */
#what-i-do{
    margin: 50px;
    background-color: #FFF8F3;
    border-radius:30px;
    text-align: center;
    padding: 20px;
}
#language-boxes-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.language-box{
    text-align: center;
    width: 330px;
    height: 400px;
    margin:20px;
    box-shadow: 25px 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
}
/* footer works */
footer{
    margin-top:50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #FFF8F3;;
}
#social-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons{
    width:32px;
    height: 32px;
}
.msg-boxes{
    margin: 20px;
    width: 370px;
    background-color: inherit;
    box-shadow: 2px 5px 5px rgb(205, 180, 133);
    border-radius: 7px;
}
#msg{
    margin: 20px;
    width: 370px;
    background-color: inherit;
    box-shadow: 2px 5px 5px rgb(205, 180, 133);
    border-radius: 7px;
}
